body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #020617;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

section {
  padding: 60px 40px;
}

button {
  padding: 12px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  background: #2563eb;
  color: white;
  border-radius: 5px;
}

.card {
  background: #020617;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
